/*----------- Sign Up Page ---------------*/
#sign-area {
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Avenir, sans-serif;
}

#sign-area header {
    background-color: rgb(235,235,235);
    margin: 0 auto;
    padding: 5px 0;
}

#sign-area header h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#sign-area form {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px 50px 20px;
}

form .row-form {
    border: 1px solid rgb(221,221,221);
    border-radius: 5px 0 0 5px;
    background-color: rgb(235,235,235);
    padding: 5px 8px;
    height: 20px;
    width: 10%;
}

form input[type=submit] {
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
}

form p {
    width: 90%;
}

form input {
    border: 1px solid rgb(221,221,221);
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    color: black;
    padding: 5px 8px;
    height: 22px;
}

form input:focus {
   outline: none;
}

form input[type=text] {
    width: 90%;
    margin-left: -1px;
}

form input[type=submit] {
    padding: 0 20px;
    position: relative;
    float: right;
    background-color: rgb(235,235,235);
    height: 35px;
}

form select {
    width: 100%;
    border: 1px solid rgb(221,221,221);
    margin: 5px 0;
}

.error {
    color: red;
    display: inline-block;
}

/*----------- Companies Page ---------------*/
#wrapper {
    width: 70%;
    margin: 0 auto;
}

section {
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    width: 420px;
    height: 320px;
    display: inline-block;
    margin: 20px ;
}

section header {
    background-color: rgb(235,235,235);
    margin: 0 auto;
    padding: 5px 0;
}

section header h3 {
    padding: 5px 10px;
    margin: 0;
}

section article {
    height: 250px;
    overflow: scroll;
    padding: 10px;
}

#list p,
#partners p {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    padding: 10px 5px;
}

#list p:last-child,
#partners p:last-child {
    border-bottom: 1px solid black;
}

#total #circle {
    border: 1px solid black;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#total p {
    margin: 0 auto;
    font-size: 38px;
    position: relative;
}

#news img {
    width: 25%;
    height: auto;
    float: left;
    padding-top: 5px;
}

#news p {
    float: right;
    width: 40%;
    height: 200px;
    overflow: scroll;
    margin-right: 60px;
}

#news span {
    width: 40%;
    float: left;
    padding-top: 5px;
}

.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.size:hover {
    /*background: #f0f0f0;*/
    white-space: normal; /* Обычный перенос текста */
    padding: 8px;
}

.companyName:hover {
    cursor: pointer;
}

#partners {
    width: 880px;
    display: none;
}

/*-----------------------------*/
/*--CAROUSEL GALLERY--*/
/*-----------------------------*/

#carousel {
    position: relative;
    width: 78%;
    height: auto;
    margin: 0 5px;
    padding: 0 40px;
    border: none;
}

.arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 30% -15px;
    background: none;
    border: none;
    display: inline-block;
    top: 0;
}

.arrow:focus {
    outline: none;
}

.prev {
    left: 7px;
    transform: rotate(180deg);
}

.next {
    right: 7px;
}

#gallery {
    overflow: hidden;
}

#gallery #scroll-images {
    height: 270px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
}

#carousel .oneNew {
    display: inline-block;
    width: 400px;
    height: 350px;
}

#partners p{
    font-size: 18px;
}


